* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100%;
}

nav {
    background-color: white;
    width: 100%;
    float: left;
}

body {
    background-color: white;
}

/*-----NAVBAR-----*/


header.active{
    filter: blur(20px);
    transition: 0.5s;
}
  
.body1.active{
    filter: blur(20px);
    transition: 0.5s;
}
  
footer.active{
    filter: blur(20px);
    transition: 0.5s;
}
  
/*-----Header-----*/
  
.logo img {
    height: 50px;
    margin: 10px 25px 10px 10px;
}
  
.logo-link {
    float: left;
}
  
.dropdown {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
}
  
.courses, .exercises{
    position: relative;
    float: left;
    margin: 25px 20px;
}
  
.navtext-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow-y: hidden;
    top: 50px;
}

.navtext-content a{
    float: none;
    color: #5D001E;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font: bold 15px "Montserrat", sans-serif;
    transition: 0.3s;
    border-bottom: 1px solid #5d001d57;
}

.navtext-content a:hover {
    background-color: #cecacac5;
}

.view-courses a {
    background-color: #5D001E;
    color: white;
    text-decoration: underline;
}

.mobileview {
    display: none;
    float: right;
    padding: 10px;
}

.burgermenu{
    color: #5D001E;
}

.mobtext {
    background: none;
    color: white;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.mobnav-drop-content{
    display: none;
}

.mobdrop {
    text-decoration: underline;
}

.mobile-navigation {
    display: none;
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    background-color: white;
    width: 250px;
    padding: 50px 0px;
    z-index: 1;
    overflow-x: hidden;
    border-radius: 10px;
}

.mobile-navigation a, .mobnav-drop {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #5D001E;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    font: 20px "Poppins", sans-serif;
    font-weight: 700;
    border-bottom: 1px solid rgba(214, 195, 195, 0.795);
}


.mobnav-drop-content a {
    padding-left: 30px;
    font-weight: 500;
}
.mobnav-drop-content {
    background-color: #f0f0f393;
}

.showlist {
    display: block;
}
  
.navtext {
    background: none;
    color: #5D001E;
    border: none;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    float: left;
    margin-right: 15px;
}
  
.navtext:hover {
    color: rgb(163, 162, 162);
}
  
.searchbar {
    float: right;
    display: flex;
    align-items: center;
    margin-top: 22px;
}
  
.searchbar .material-icons {
    font-size: 35px;
    color: #5D001E;
    margin: 0px 8px;
}
  
.searchbar-inp {
    padding: 8px;
    border: 2px solid #5D001E;
    border-radius: 10px;
}
  
.searchbar button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
  
.login-btn {
    float: right;
    margin: 15px 40px 0px 0px;
}
  
.log-in {
    padding: 10px 20px;
    border-radius: 15px;
    font: bold 18px Helvetica, sans-serif;
    text-align: center;
    color: #5D001E;
    background-color: white;
    border: 3px solid #5D001E;
}
  
.log-in:hover {
    background-color: #5D001E;
    color: white;
    cursor: pointer;
}

/*-----Header-----*/

.banner-area {
    width: 100%;
    height: 350px;
    background-image: linear-gradient(0deg, rgba(93, 0, 29, 0.4), rgba(93, 0, 29, 0.8)), url("./images/laptop.jpg");
    background-size: cover;
}

.content-area {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.btn {
    border-radius: 12px;
    background-color: rgb(238, 76, 125);
    border: none;
    padding: 12px;
    margin: 12px;
    font: bold 15px "Source San Pro", sans-serif;
    color:rgb(255, 255, 255);
}

.content h1 {
    font: bold 80px "Bebas Neue", sans-serif;
    margin: 20px 0x;
}

.content p {
    font: 15px "Montserrat", sans-serif;
    padding: 5px 0px 10px 0px;
    margin-bottom: 5px;
    text-justify: inter-word;
    text-align: center;
}

.btn:hover {
    background-color:rgba(93, 0, 29, 0.8);
    cursor: pointer;    
}


/* Pop-up Form */

/* The popup form - hidden by default */
.form-popup {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 50px;
    font: bold 18px Helvetica, sans-serif;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background-color: white;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border-radius: 20px;
}

.form-popup h1{
    margin-bottom: 10px;
}
  
.form-popup.active{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #5D001E;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 1;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    border: 2px solid #5D001E;
    background-color: white;
    color: #5D001E;
    padding: 10px 20px;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 0.8;
}

/* Pop-up Form */

/*-----Header-----*/

/*-----Body-----*/

/*-----Carousel-----*/
.webdev {
    margin: 25px;
}

.carousel {
    margin-bottom: 50px;
}

.body1 h2 {
    text-align: center;
    font: bold 30px "Source Sans Pro", sans-serif;
    color: rgb(93, 0, 29);
    margin: 50px 0px 20px 0px;
}

.vidcar {
    width: 60%;
    height: 445px;
    margin: 20px auto 0;
    position: relative;
    /*display: flex;
    overflow-x: scroll;*/
}

.vidcar.active {
    filter: blur(20px);
    transition: 0.5s;
}

.vidcarcontainer {  
    position: relative;
    height: 100%;
    width:100%;
    overflow: hidden;
    padding-top: 0;
}

.carouselvids {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.vidcartrack {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.col-md-12 {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carbutt {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: black;
    font-size: 50px;
    border: 0;
    background-color: transparent;
}
.vidcar img {
    width: 50px;
    height: 50px;
}
.carouselbuttonleft {
    left: -60px;
}

.carouselbuttonright {
    right: -60px;
}

.carouselnavigator {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.carouselindicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgba(134, 16, 16, 0.3);
    margin: 5px;
    cursor: pointer;
}

/*-----PROGRAMMING LANGUAGES-----
.prog-lang-bg {
    min-width: 100%;
    height: 125px;
    background-color: rgba(95, 13, 13, 0.781);
    display: flex;
}

.prog-lang-container {
    margin: auto;
}

.prog-lang {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 600px;
    flex-direction: row;
}

.prog-lang li {
    background-color: rgb(238, 76, 125);
    border: none;
    padding: 20px 40px;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 20px;
    list-style-type: none;
}

.prog-lang li button {
    background-color: none;
    border: none;
    width: 100%;
}

--------------*/

.prog-overview-container {
    background-color: #5D001E;
    width: 100%;
    margin: 100px 0px;
}

.prog-overview {
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
}

.courses-offered p {
    text-align: center;
    font: bold 30px "Source San Pro", sans-serif;
    color: white;
    padding: 40px 0px 10px 0px;
}

.test {
    width: 50%;
}

.prog-text-box {
    background-color: crimson;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin: 20px;
    border-radius: 15px;
}

.prog-text-container ul {
    text-align: center;
}

.prog-text-container li {
    list-style-type: none;
}

.prog-text-container h1, .prog-text-container p {
    font-family: "Source San Pro", sans-serif;
    color: white;
    padding: 5px;
}

.prog-text-container button a {
    color: white;
    text-decoration: none;
}

.prog-text-container button {
    background-color: #5D001E;
    padding: 10px;
    border: none;
    font: bold 15px "Source San Pro", sans-serif;
    border-radius: 10px;
    width: 200px;
    cursor: pointer;
    margin-top: 30px;
}

.prog-text-container button:hover {
    background-color: #6e0627;
}

.progress-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0px;
    box-sizing: border-box;
}

.progress {
    width: 500px;
}

.progress ul {
    text-align: center;
}

.progress li {
    list-style-type: none;
}

.progress h2 {
    font: bold 50px "Bebas Neue", sans-serif;
    margin-bottom: 8px;
    color: #5D001E;
}

.progress p {
    font: normal 18px "Helvetica", sans-serif;
    margin-bottom: 8px;
}

.progress button {
    border-radius: 12px;
    background-color: rgb(238, 76, 125);
    border: none;
    padding: 15px;
    margin: 12px;
    font: bold 18px "Source San Pro", sans-serif;
    color:rgb(255, 255, 255);
}

.progress button:hover {
    background-color:rgba(93, 0, 29, 0.8);
    cursor: pointer;    
}

/*-----Footer-----*/

.foot-container {
    background-color: rgb(37, 37, 37);
    min-width: 100%;
    padding: 30px 20px;
    min-height: 280px;
}

.foot-row {
    position: relative;
}

.foot-col {
    width: 400px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 25px;
}

.foot-col ul {
    display: flex;
    justify-content: space-between;
}

.foot-col li {
    list-style-type: none;
    font: 13px poppins, sans-serif;
    font-weight: 700;
}

.foot-col li a {
    text-decoration: none;
    color: white;
}

.newsletter-header h3 {
    text-align: center;
    position: absolute;
    margin-top: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font: bold 13px poppins, sans-serif;
}

.newsletter-container {
    display: flex;
    justify-content: space-between;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 100px;
}

.newsletter-container input {
    padding: 8px;
    background-color: rgb(37, 37, 37);
    border: 1px solid white;
    font: bold 13px poppins, sans-serif;
    color: white;
}

.newsletter-container input:focus {
    outline: none;
}

.newsletter-button button {
    border: none;
    background-color: rgb(238, 76, 125);
    padding: 10px 25px;
    font: 600 13px poppins, sans-serif;
    color: white;
    cursor: pointer;
}

.newsletter-button button:hover {
    background-color: rgb(93, 0, 29);
}

.socmed-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 180px;
}

.socmed-container h3 {
    color: white;
    font: bold 13px poppins, sans-serif;
    text-align: center;
}

.socmed {
    display: flex;
    justify-content: space-around;

}

.socmed i {
    font-size: 25px;
    margin: 15px 10px 0px;
    color: white;
}

.copyright {
    background-color: rgb(72, 74, 78);
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.where-made, .copyright-symbol {
    font: bold 13px poppins, sans-serif;
    color: white;
    text-align: center;
}

.where-made span {
    color:rgb(238, 76, 125);
    font-size: 20px;
}

/*-----Responsiveness-----*/


@media all and (max-width: 1000px) {
    .login-btn, .searchbar {
        display: none;
    }
    .courses, .exercises {
        float: right;
    }
    .prog-overview {
        display: block;
        padding: 10px 0px;
    }

    .test {
        width: 100%;
    }
    
    .exercises, .courses, .login-btn, .searchbar {
        display: none;
    }

    .mobileview {
        display: block;
    }
}

@media screen and (max-width: 800px) {
    .carbutt{
        top: 40%; 
        transform: translateY(-60%);
    }
}

.ishidden { display: none; }

.carouselindicator.currentslide {
    background-color: rgba(95, 13, 13, 0.781);
}

@media all and (max-width: 800px) {

    .form-popup {
        width: 90%;
    }
    
    /*-----Content Responsiveness------*/
    .vidcar img {
        display: none;
    }
    .vidcar {
        width: 95%;
    }
}

@media all and (max-width: 500px) {

    .content h1 {
        font-size: 70px;
        text-align: center;
    }

    /*-----Footer Responsiveness-----*/
    .foot-col ul {
        flex-direction: column;
        text-align: center;
    }

    .foot-col li {
        padding: 15px;
    }

    .foot-container {
        height: 420px;
    }

    .newsletter-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 230px;
    }

    .newsletter-header h3 {
        margin-top: 165px;
        width: 100%;
    }

    .newsletter-container input {
        width: 300px;
    }

    .newsletter-button {
        margin-top: 15px;
    }
    .socmed-container {
        margin-top: 340px;
    }

    .socmed a {
        padding: 0px 20px;
    }

    .socmed i {
        font-size: 30px;
    }
}