* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    width: 100%;
}

nav {
    background-color: white;
    width: 100%;
    float: left;
}

body {
    background-color: white;
    margin-bottom: 100px;
}

/*-----NAVBAR-----*/

.logo img {
    height: 50px;
    margin: 10px 25px 10px 10px;
}

.logo-link {
    float: left;
}

.dropdown {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
}

.courses, .exercises{
    position: relative;
    float: left;
    margin: 25px 20px;
}

.courses ul, .exercises ul {
    position: absolute;
    left: 0px;
    background: white;
    margin-top: 45px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    transform: translateY(-10px);
}

.courses a, .exercises a {
    text-decoration: none;
    color: #5D001E;
}

.navtext {
    background: none;
    color: #5D001E;
    border: none;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    float: left;
    margin-right: 15px;
}

.navtext:hover {
    color: rgb(163, 162, 162);
}

.courses li,
.exercises li {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font: bold 15px "Source San Pro", sans-serif;
}

.courses li:hover,
.exercises li:hover {
    background-color: rgb(226, 226, 226);
}

.courses button:focus + ul,
.exercises button:focus + ul {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
}

.searchbar {
    float: right;
    display: flex;
    align-items: center;
    margin-top: 22px;
}

.searchbar .material-icons {
    font-size: 35px;
    color: #5D001E;
    margin: 0px 8px;
}

.searchbar-inp {
    padding: 8px;
    border: 2px solid #5D001E;
    border-radius: 10px;
}

.searchbar button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.login-btn {
    float: right;
    margin: 15px 40px 0px 0px;
}

.log-in {
    padding: 10px 20px;
    border-radius: 15px;
    font: bold 18px Helvetica, sans-serif;
    text-align: center;
    color: #5D001E;
    background-color: white;
    border: 3px solid #5D001E;
}

.log-in:hover {
    background-color: #5D001E;
    color: white;
    cursor: pointer;
}

/*-----Header-----*/
.banner-area {
    width: 100%;
    height: 250px;
    background-image: linear-gradient(0deg, rgba(93, 0, 29, 0.4), rgba(93, 0, 29, 0.8)), url("./images/laptop.jpg");
    background-size: cover;
}

.content-area {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.btn {
    border-radius: 12px;
    background-color: rgb(238, 76, 125);
    border: none;
    padding: 12px;
    margin: 12px;
    font: bold 15px "Source San Pro", sans-serif;
    color:rgb(255, 255, 255);
}

.content h1 {
    font: bold 75px "Bebas Neue", sans-serif;
    margin-bottom: 15px;
}

.content p {
    font: 15px "Source San Pro", sans-serif;
    margin-bottom: 5px;
}

.btn:hover {
    background-color:rgba(93, 0, 29, 0.8);
    cursor: pointer;    
}
/*-----Body-----*/

/*-----Carousel-----*/
.webdev {
    margin-top: 25px;
}

.webdev h2 {
    text-align: center;
    color: rgb(93, 0, 29);
    font: bold 50px "Bebas Neue", sans-serif;
}

.vidcar {
<<<<<<< HEAD
    list-style-type: none;
    margin: 15px 5px 5px 5px;
    display: flex;
    overflow-x: scroll;
=======
    width: 60%;
    height: 445px;
    margin: 20px auto 0;
    position: relative;
    /*display: flex;
    overflow-x: scroll;*/
}

.vidcarcontainer {  
    position: relative;
    height: 100%;
    overflow: hidden;
    padding-top: 0;
>>>>>>> 29a9f13fab50311cd530e8bda181ae69a0bd78c4
}

.carouselvids {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.vidcartrack {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.col-md-12 {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carbutt {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: black;
    font-size: 50px;
    border: 0;
    background-color: transparent;
}
.vidcar img {
    width: 50px;
    height: 50px;
}
.carouselbuttonleft {
    left: -60px;
}

.carouselbuttonright {
    right: -60px;
}

.carouselnavigator {
    display: flex;
    justify-content: center;
}

.carouselindicator {
    border: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgba(0,0,0,0.3);
    margin: 5px;
<<<<<<< HEAD
}

/*-----Footer-----*/
.foot-container {
    background-color: rgb(37, 37, 37);
    min-width: 100%;
    padding: 30px 20px;
    min-height: 280px;
}

.foot-row {
    position: relative;
}

.foot-col {
    width: 570px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 25px;
}

.foot-col ul {
    display: flex;
    justify-content: space-between;
}

.foot-col li {
    list-style-type: none;
    font: 13px poppins, sans-serif;
    font-weight: 700;
}

.foot-col li a {
    text-decoration: none;
    color: white;
}

.newsletter-header h3 {
    text-align: center;
    position: absolute;
    margin-top: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font: bold 13px poppins, sans-serif;
}

.newsletter-container {
    display: flex;
    justify-content: space-between;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 100px;
}

.newsletter-container input {
    padding: 8px;
    background-color: rgb(37, 37, 37);
    border: 1px solid white;
    font: bold 13px poppins, sans-serif;
    color: white;
}

.newsletter-container input:focus {
    outline: none;
}

.newsletter-button button {
    border: none;
    background-color: rgb(238, 76, 125);
    padding: 10px 25px;
    font: 600 13px poppins, sans-serif;
    color: white;
    cursor: pointer;
}

.newsletter-button button:hover {
    background-color: rgb(93, 0, 29);
}

.socmed-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 180px;
}

.socmed-container h3 {
    color: white;
    font: bold 13px poppins, sans-serif;
    text-align: center;
}

.socmed {
    display: flex;
    justify-content: space-around;

}

.socmed i {
    font-size: 25px;
    margin: 15px 10px 0px;
    color: white;
}

.copyright {
    background-color: rgb(72, 74, 78);
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.where-made, .copyright-symbol {
    font: bold 13px poppins, sans-serif;
    color: white;
    text-align: center;
}

.where-made span {
    color:rgb(238, 76, 125);
    font-size: 20px;
}
=======
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .carbutt{
        top: 40%; 
        transform: translateY(-60%);
    }
}

.ishidden { display: none; }

.carouselindicator.currentslide {
    background-color: rgba(0,0,0,0.75);
}
/*
@media screen and (max-width: 1200px) {
    .carbutt{
      top: 80%; 
    }
    
@media screen and (max-width: 1100px) {
    .carbutt{
      top: 70%; 
    }

@media screen and (max-width: 1000px) {
    .carbutt{
      top: 60%; 
    }

@media screen and (max-width: 900px) {
    .carbutt{
        top: 50%; 
    }
@media screen and (max-width: 800px) {
    .carbutt{
        top: 40%; 
    }

@media screen and (max-width: 750px) {
    .carbutt{
        top: 35%; 
    }

@media screen and (max-width: 700px) {
    .carbutt{
        top: 30%; 
    }
}
*/
>>>>>>> 29a9f13fab50311cd530e8bda181ae69a0bd78c4
