* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    width: 100%;
}

nav {
    background-color: white;
    width: 100%;
    float: left;
}

body {
    background-color: white;
}

/*-----NAVBAR-----*/

.whole-nav {
    box-shadow: 0px 2px 30px 1px rgba(133, 128, 128, 0.404);
}

.logo img {
    height: 50px;
    margin: 10px 25px 10px 10px;
}

.logo-link {
    float: left;
}

.dropdown {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
}

.navtext-content {
    position: absolute;
    opacity: 0;
    z-index: 2;
}

.courses, .exercises{
    position: relative;
    float: left;
    margin: 25px 20px;
}

.courses ul, .exercises ul {
    position: absolute;
    left: 0px;
    background: white;
    margin-top: 45px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    border-radius: 5px;
    pointer-events: none;
    transition: all 0.4s ease;
    transform: translateY(-10px);
}

.courses a, .exercises a {
    text-decoration: none;
    color: #5D001E;
    width: 100%;

}

.navtext {
    background: none;
    color: #5D001E;
    border: none;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    float: left;
    margin-right: 15px;
}

.viewpage {
    text-decoration: underline;
    padding-bottom: 5px;
    background-color: rgba(93, 0, 29, 0.8);
    color: white;
}

.viewpage a {
    color: white;
}

.navtext:hover {
    color: rgb(163, 162, 162);
}

.courses li,
.exercises li {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font: bold 15px "Source San Pro", sans-serif;
}

.courses li:hover,
.exercises li:hover {
    background-color: rgb(226, 226, 226);
}

.show {
    opacity: 1;
    z-index: 100;
    position: absolute;
}

/*
.courses button:focus + ul,
.exercises button:focus + ul {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
}
*/

.searchbar {
    float: right;
    display: flex;
    align-items: center;
    margin-top: 22px;
}

.searchbar input {
    font: bold 15px "Source San Pro", sans-serif;
}

.searchbar .material-icons {
    font-size: 35px;
    color: #5D001E;
    margin: 0px 8px;
}

.searchbar-inp {
    padding: 8px;
    border: 2px solid #5D001E;
    border-radius: 10px;
}

.searchbar button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.login-btn {
    float: right;
    margin: 15px 40px 0px 0px;
}

.log-in {
    padding: 10px 20px;
    border-radius: 15px;
    font: bold 18px Helvetica, sans-serif;
    text-align: center;
    color: #5D001E;
    background-color: white;
    border: 3px solid #5D001E;
}

.log-in:hover {
    background-color: #5D001E;
    color: white;
    cursor: pointer;
}

/*-----CONTENT-----*/

.side-toggle button {
    display: none;
}

.lecture-title h1 {
    text-align: center;
    margin: 40px 0px 30px 0px;
    font-family: "Source Sans Pro", sans-serif;
    color: #5D001E;
}

.content-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 20px 0px 40px 0px;
}

.side-toggle {
    display: none;
    position: absolute;
}

.test-content {
    width: 45%;
}

.toggle-window {
    overflow-y: scroll;
    height: 610px;
}

.test-box {
    display: flex;
    max-width: 600px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 5px 7px 0.5px rgb(133 128 128 / 30%);
    flex-wrap: wrap;
    margin: 20px;
}

.test-box:hover {
    box-shadow: 0px 5px 7px 0.5px rgba(133, 128, 128, 0.438);
}

.test-question {
    padding: 30px;
}

.test-question h3 {
    font-family: "Source Sans Pro", sans-serif;
}

.test-question p {
    font: normal 16px "Source Sans Pro", sans-serif;
}

/*-----Aside IDE-----*/

.ide-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ide-outerbox {
    background-color: #9da9c934;
    height: 400px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0px 5px 7px 0.5px rgb(133 128 128 / 30%);
}

.ide-outerbox:hover {
    box-shadow: 0px 5px 7px 0.5px rgba(133, 128, 128, 0.438);
}

.ide-innerbox {
    width: 90%;
}

.run-code {
    width: 100%;
    text-align: center;
}

.run-code button {
    border: none;
    background-color: #12204d;
    padding: 8px 14px;
    font: bold 16px helvetica, sans-serif;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    margin: 10px 0px;
}

.run-code button:hover {
    background-color: #415492;
}

.output-outerbox {
    margin-top: 30px;
    background-color: #9da9c934;
    height: 180px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0px 5px 7px 0.5px rgb(133 128 128 / 30%);
}

.output-outerbox:hover {
    box-shadow: 0px 5px 7px 0.5px rgba(133, 128, 128, 0.438);
}

.output-innerbox {
    width: 90%;
}

.output h3 {
    font-family: "Source Sans Pro", sans-serif;
    margin: 5px 0px 10px 0px;
}

.CodeMirror {
    max-width: 700px;
    width: 100%;
    height: 100%;
}

/*-----Footer-----*/
.foot-container {
    background-color: rgb(37, 37, 37);
    min-width: 100%;
    padding: 30px 20px;
    min-height: 280px;
}

.foot-row {
    position: relative;
}

.foot-col {
    width: 570px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 25px;
}

.foot-col ul {
    display: flex;
    justify-content: space-between;
}

.foot-col li {
    list-style-type: none;
    font: 13px poppins, sans-serif;
    font-weight: 700;
}

.foot-col li a {
    text-decoration: none;
    color: white;
}

.newsletter-header h3 {
    text-align: center;
    position: absolute;
    margin-top: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font: bold 13px poppins, sans-serif;
}

.newsletter-container {
    display: flex;
    justify-content: space-between;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 100px;
}

.newsletter-container input {
    padding: 8px;
    background-color: rgb(37, 37, 37);
    border: 1px solid white;
    font: bold 13px poppins, sans-serif;
    color: white;
}

.newsletter-container input:focus {
    outline: none;
}

.newsletter-button button {
    border: none;
    background-color: rgb(238, 76, 125);
    padding: 10px 25px;
    font: 600 13px poppins, sans-serif;
    color: white;
    cursor: pointer;
}

.newsletter-button button:hover {
    background-color: rgb(93, 0, 29);
}

.socmed-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 180px;
}

.socmed-container h3 {
    color: white;
    font: bold 13px poppins, sans-serif;
    text-align: center;
}

.socmed {
    display: flex;
    justify-content: space-around;

}

.socmed i {
    font-size: 25px;
    margin: 15px 10px 0px;
    color: white;
}

.copyright {
    background-color: rgb(72, 74, 78);
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.where-made, .copyright-symbol {
    font: bold 13px poppins, sans-serif;
    color: white;
    text-align: center;
}

.where-made span {
    color:rgb(238, 76, 125);
    font-size: 20px;
}

/*-----Side Menu -----*/

span {
    height: 100%;
}

.side-menu-container {
    margin: 0;
    position: fixed;
    right: -200px;
    top: 25%;
    z-index: 2;
    transition: .4s ease-in-out;
}

#side-menu-container.active {
    right: 0;
}

.center-vert {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.side-toggle {
    height: 50px;
    display: flex;
    align-items: center;
}

.side-toggle button {
    border: none;
    background-color: #5D001E;
    cursor: pointer;
}

.side-toggle span {
    color: white;
    font-size: 50px;
}

.side-menu {
    height: 400px;
    background-color: white;
    width: 200px;
    overflow-y: scroll;
    border-radius: 10px;
    box-shadow: 0px 7px 13px 1px rgb(133 128 128 / 30%);
}

.side-menu a {
    text-decoration: none;
    color: black;
}

.side-menu li {
    list-style-type: none;
    font: 18px helvetica, sans-serif;
    padding: 10px 5px 10px 15px;
    border-bottom: 1px solid gray;
}

@media all and (max-width: 700px) {

    .test-content {
        position: absolute;
        z-index: 5;
        width: 450px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        left: -428px;
        transition: 0.4s ease-in-out;
    }

    .toggle-window {
        width: 90%;
        background-color: white;
    }

    .ide-container {
        width: 100%;
    }

    .side-toggle button {
        display: block;
        position: absolute;
        left: 202px;
        z-index: 5;
    }

    #test-content.active {
        left: -20px;
    }

    .side-toggle span {
        font-size: 50px;
    }

}