* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100%;
}

nav {
    background-color: white;
    width: 100%;
    float: left;
}

body {
    background-color: white;
}

/*-----NAVBAR-----*/

header.active{
    filter: blur(20px);
    transition: 0.5s;
}
  
.body1.active{
    filter: blur(20px);
    transition: 0.5s;
}
  
footer.active{
    filter: blur(20px);
    transition: 0.5s;
}
  
/*-----Header-----*/
  
.logo img {
    height: 50px;
    margin: 10px 25px 10px 10px;
}
  
.logo-link {
    float: left;
}
  
.dropdown {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
}
  
.courses, .exercises{
    position: relative;
    float: left;
    margin: 25px 20px;
}
  
.navtext-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow-y: hidden;
    top: 50px;
}

.navtext-content a{
    float: none;
    color: #5D001E;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font: bold 15px "Montserrat", sans-serif;
    transition: 0.3s;
    border-bottom: 1px solid #5d001d57;
}

.navtext-content a:hover {
    background-color: #cecacac5;
}

.view-courses a {
    background-color: #5D001E;
    color: white;
    text-decoration: underline;
}

.mobileview {
    display: none;
    float: right;
    padding: 10px;
}

.burgermenu{
    color: #5D001E;
}

.burgermenu:hover {
    color: rgba(75, 1, 0, 0.5);
}

.mobtext {
    background: none;
    color: white;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.mobnav-close {
    position: fixed;
    right: 10px;
    top: 14px;
}

.mobnav-drop-content{
    display: none;
}

.mobdrop {
    text-decoration: underline;
}

.mobile-navigation {
    display: none;
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    background-color: white;
    width: 250px;
    padding: 50px 0px;
    z-index: 1;
    overflow-x: hidden;
    border-radius: 10px 0 0 10px;
}

.mobile-navigation a, .mobnav-drop {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #5D001E;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    font: 20px "Poppins", sans-serif;
    font-weight: 700;
    border-bottom: 1px solid rgba(214, 195, 195, 0.795);
}

.mobile-navigation a:hover, .mobnav-drop:hover {
    color: rgba(75, 1, 0, 0.3);
}

.mobnav-drop-content a {
    padding-left: 30px;
    font-weight: 500;
}

.mobnav-drop-content {
    background-color: #f0f0f393;
}

.showlist {
    display: block;
}
  
.navtext {
    background: none;
    color: #5D001E;
    border: none;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    float: left;
    margin-right: 15px;
}
  
.navtext:hover {
    color: rgb(163, 162, 162);
}
  
.searchbar {
    float: right;
    display: flex;
    align-items: center;
    margin-top: 22px;
}
  
.searchbar .material-icons {
    font-size: 35px;
    color: #5D001E;
    margin: 0px 8px;
}
  
.searchbar-inp {
    padding: 8px;
    border: 2px solid #5D001E;
    border-radius: 10px;
}
  
.searchbar button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
  
.login-btn {
    float: right;
    margin: 15px 40px 0px 0px;
}
  
.log-in {
    padding: 10px 20px;
    border-radius: 15px;
    font: bold 18px Helvetica, sans-serif;
    text-align: center;
    color: #5D001E;
    background-color: white;
    border: 3px solid #5D001E;
}
  
.log-in:hover {
    background-color: #5D001E;
    color: white;
    cursor: pointer;
}

/* Pop-up Form */

/* The popup form - hidden by default */
.form-popup {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 50px;
    font: bold 18px Helvetica, sans-serif;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background-color: white;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border-radius: 20px;
}

.form-popup h1{
    margin-bottom: 10px;
}
  
.form-popup.active{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #5D001E;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 1;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    border: 2px solid #5D001E;
    background-color: white;
    color: #5D001E;
    padding: 10px 20px;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 0.8;
}

.btn {
    border-radius: 12px;
    margin-bottom: 12px;
}

/* Pop-up Form */

/*-----Header-----*/

/*-----CONTENT-----*/

.content-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(232, 236, 241, 0.486);
}

.mission {
    margin: 50px;
}

.about {
    width: 80%;
    background-color: white;
}

.mission h2 {
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.mission p {
    text-align: center;
}

.about-content h1 {
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.about-content h2 {
    font-family: "Montserrat", sans-serif;
}

.about-content p, .mission p {
    font: normal 20px "Source Sans Pro", sans-serif;
}

.about-content p {
    margin: 20px 0px 0px;
    text-align: justify;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 80px;
    border-radius: 20px;
    box-shadow: 0px 3px 7px 0.5px rgb(133 128 128 / 30%);
}

.about-content {
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
    width: 80%;
}

.box {
    display: flex;
    width: 70%;
    min-width: 330px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 3px 7px 0.5px rgb(133 128 128 / 30%);
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
}

.box:hover {
    box-shadow: 0px 2px 9px 0.5px rgba(133, 128, 128, 0.438);
}

.bib-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bibliography p {
    text-align: center;
}

.bib-content-box {
    padding: 20px;
    width: 90%;
}

.bib-content-box a {
    font: bold 20px "Montserrat", sans-serif;
    color: rgb(93, 0, 29);
    padding: 10px 0px 15px 0px;
    text-decoration: none;
}

.bib-header h3 {
    font-family: "Montserrat", sans-serif;
}

.bib-header {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

/*-----/CONTENT-----*/


/*-----Footer-----*/

.foot-container {
    background-color: rgb(37, 37, 37);
    min-width: 100%;
    padding: 30px 20px;
    min-height: 280px;
}

.foot-row {
    position: relative;
}

.foot-col {
    width: 400px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 25px;
}

.foot-col ul {
    display: flex;
    justify-content: space-between;
}

.foot-col li {
    list-style-type: none;
    font: 13px poppins, sans-serif;
    font-weight: 700;
}

.foot-col li a {
    text-decoration: none;
    color: white;
}

.newsletter-header h3 {
    text-align: center;
    position: absolute;
    margin-top: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font: bold 13px poppins, sans-serif;
}

.newsletter-container {
    display: flex;
    justify-content: space-between;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 100px;
}

.newsletter-container input {
    padding: 8px;
    background-color: rgb(37, 37, 37);
    border: 1px solid white;
    font: bold 13px poppins, sans-serif;
    color: white;
}

.newsletter-container input:focus {
    outline: none;
}

.newsletter-button button {
    border: none;
    background-color: rgb(238, 76, 125);
    padding: 10px 25px;
    font: 600 13px poppins, sans-serif;
    color: white;
    cursor: pointer;
}

.newsletter-button button:hover {
    background-color: rgb(93, 0, 29);
}

.socmed-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 180px;
}

.socmed-container h3 {
    color: white;
    font: bold 13px poppins, sans-serif;
    text-align: center;
}

.socmed {
    display: flex;
    justify-content: space-around;

}

.socmed i {
    font-size: 25px;
    margin: 15px 10px 0px;
    color: white;
}

.copyright {
    background-color: rgb(72, 74, 78);
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.where-made, .copyright-symbol {
    font: bold 13px poppins, sans-serif;
    color: white;
    text-align: center;
}

.where-made span {
    color:rgb(238, 76, 125);
    font-size: 20px;
}

.policy{
    display: block;
    text-align: center;
    font-size: 50px;
}

@media all and (max-width: 1000px) {

    /*-----Pop up Form Responsiveness-----*/

    .login-btn, .searchbar {
        display: none;
    }
    .courses, .exercises {
        float: right;
    }
    .prog-overview {
        display: block;
        padding: 10px 0px;
    }

    .test {
        width: 100%;
    }
    
    .exercises, .courses, .login-btn, .searchbar {
        display: none;
    }

    .mobileview {
        display: block;
    }
}

@media screen and (max-width: 800px) {
    
    .form-popup {
        width: 90%;
    }
}

@media all and (max-width: 800px) {
    .bib-link a {
        font-size: 17px;
    }
}

@media all and (max-width: 1000px) {
    .login-btn, .searchbar {
        display: none;
    }

    .courses, .exercises {
        float: right;
    }
    
    .exercises, .courses, .login-btn, .searchbar {
        display: none;
    }

    .mobileview {
        display: block;
    }
}

@media all and (max-width: 500px) {

    /*-----Footer Responsiveness-----*/
    .foot-col ul {
        flex-direction: column;
        text-align: center;
    }

    .foot-col li {
        padding: 15px;
    }

    .foot-container {
        height: 420px;
    }

    .newsletter-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 230px;
    }

    .newsletter-header h3 {
        margin-top: 165px;
        width: 100%;
    }

    .newsletter-container input {
        width: 300px;
    }

    .newsletter-button {
        margin-top: 15px;
    }
    .socmed-container {
        margin-top: 340px;
    }

    .socmed a {
        padding: 0px 20px;
    }

    .socmed i {
        font-size: 30px;
    }
}